app = "ghostledger"
primary_region = "iad"

[build]
  dockerfile = "Dockerfile"

[env]
  GL_DB_PATH = "/data/ghostledger.db"
  PORT = "8081"

[http_service]
  internal_port = 8081
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 256

[mounts]
  source = "gl_data"
  destination = "/data"
